html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	position: relative;
	background-color: #3878CC; 

}

a{
	color: inherit;
}

hr{
	border: none;
	border-bottom: .15rem solid #54546B; 
	margin: 0 -1rem;
}

.navbar{
	height: 4rem;
	background-color: #262626;	
	width: 100%;
	padding: 0 1rem ;
	position: fixed;
	visibility: hidden;
	top: -4rem;
	transition: ease .8s all;
}

.fixed{
	top: 0;
	z-index: 1; 
	visibility: visible;
}

.navbar .nametext{
	color: rgb(254, 253, 245);
	font-size: 2.7rem;
	float: left;
	margin: .5rem;
}

.navbar .buttons{
	float: right;
	height: 4rem;
	margin: -.5rem 2rem;

}
.navbar .content{
	margin: 0 auto;
	max-width: 70rem;
}

.navbar .button{
	height: 2.2rem;
	width: 2.2rem;
	padding: .1rem;
	font-size: 1.4rem;
	border: 3px solid; 
	margin-top: 1.1rem; 
}
.navbar .buttoninner{
	top: 50%;
	left: 0;
	right: 0;
	margin-top: -.8rem; 
	height: 2rem;
}


.homepage{
	height: 100%;
	background-color: rgb(254, 253, 245);

}

.arrow{
	text-align: center;
	position: absolute;
	bottom: 0;

}
.arrowicon{
	text-align: center;
}

.projectspage{
	min-height: 100%;
	position: relative;
	background-color: #3878CC;
}

img{
	height: 10rem;
	max-width: 100%;
}

.project{
	background-color: white;
	border-radius: 10px;
	width: 45%;
	padding: 1rem;
	border: .3rem #54546B solid;
	display: inline-block;
	min-height: 100%;

}
.pictures{
	text-align: center;
	width: 100%;
}

.right{
	float: right;
}

.projectcontent{
	width: 85%;
	margin: 0 auto;
	max-width: 70rem;
	position: absolute;
	top: 50%;
	margin-top: -12rem;
	height: 24rem;
	left: 0;
	right: 0; 
}

.bodytext{
	color: #54546B;
    font-family: 'Varela Round', sans-serif;
    font-weight: 400;
    font-size: 1rem; 
}

.nametext {
    color: #54546B;
    font-family: 'Varela Round', sans-serif;
    font-weight: 400;
    font-size: 5rem; 
    text-align: center;
    margin: 1rem;
}

.description{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
    font-family: 'Varela Round', sans-serif;
    font-size: 2rem; 
    color: #54546B !important;
    background-color: rgba(0,0,0,0) !important;

}

.main {
	height: 15rem;
	position: absolute;
	top: 45%;
	bottom: 50%;
	left: 0;
	right: 0;
	max-width: 50rem; 
	margin: -7.5rem auto 0; 
}

.buttoninner{
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	height: 3rem;
	margin-top: -1.5rem; 
}

.buttons {

	list-style: none;
	text-align: center;
	position: relative;
	padding: 0;
	margin: 0;
	height: 10rem;

}

.button div{
	position: relative;
	height: 100%;
	width: 100%;
}

.button {
	height: 3.5rem;
	width: 3.5rem;
	padding: .25rem;
	font-size: 2.5rem;
	border: 4px solid; 
	border-radius: 50%;
	display: inline-block; 
	margin: 0 .5rem;
	transition: ease all .1s;
}



.description{
	visibility: hidden;
}

.hovercatch:hover .description{
	visibility: visible;
}

.purple {

	color: #9A60D6;
	border-color: #9A60D6;
}


.blue {
	color: #3878CC;
	border-color: #3878CC; 
}

.orange {
	color: #E58D00;
	border-color: #E58D00; 
}

.green{
	color: #36C235;
	border-color: #36C235; 
}

.red {
	color: #B22D12;
	border-color: #B22D12; 
}

@media only screen and (min-width: 769px){
.red:hover, .hover.red{
	color: white;
	background-color: #B22D12;
	border-color: #B22D12; 
}
.purple:hover, .hover.purple{
	color: white;
	background-color: #9A60D6;
	border-color: #9A60D6;
}
.orange:hover, .hover.orange{
	color: white;
	background-color: #E58D00;
	border-color: #E58D00; 
}
.blue:hover, .hover.blue{
	color: white;
	background-color: #3878CC;
	border-color: #3878CC;
}
.green:hover, .hover.green{
	color: white;
	background-color: #36C235;
	border-color: #36C235; 
}
}
@media only screen and (max-width: 768px){
	html{
		font-size: 10px;
	}

	.project{
		width: auto;
		margin-top: 5rem;
	}
	.projectcontent{
		position: relative;
		margin-top: 0;
		top: inherit;

	}
	.bodytext{
		font-size: 2rem;
	}

	.description{
		display: none !important;
	}
	.button{
		font-size: 1.8rem;
	}
	.buttons{
		max-width: 320px !important; 
		margin: 0 auto;
	}

}
@media only screen and (max-width: 480px){
	html{
		font-size: 10px;
	}

	.description{
		display: none !important;
	}
	.button{
		font-size: 2rem;
	}
	.buttons{
		max-width: 320px !important; 
		margin: 0 auto;
	}
}
@media only screen and (max-width: 320px){
	html{
		font-size: 8px;
	}


	.description{
		display: none !important;
	}
	.button{
		font-size: 2.2rem;
	}
	.buttons{
		max-width: 320px !important; 
		margin: 0 auto;
	}
}