{% extends "foundation.html" %}

{% block body %}
<nav class = "navbar">
	<div class = "content">
		<a href="#top">	
			<h1 class="nametext"> Ben | Projects</h1> 
		</a>
		<ul class="buttons">
			<span class="hovercatch">
		    	<li class="purple button">
			    	<div>
			    		<a href="mailto:ben.edelstein93@gmail.com">	
			    		<span class = "buttoninner">
			    			<i class="icon-mail-alt"></i>
			    		</span>
			    	</a>
			    </div>	
		    	</li>
		    </span>
		    <span class="hovercatch">
		    	<li class="green button">
		    		<div>
				    	<a href="http://www.facebook.com/ben.edelstein">	
				    		<span class = "buttoninner">
				    			<i class="icon-facebook"></i>
				    		</span>
				    	</a>
				    </div>
		    	</li>
		    </span>
		    <span class="hovercatch">
		    	<li class="red button">
		    		<div>
			    		<a href="http://www.github.com/benthehenten">
				    		<span class = "buttoninner">
				    			<i class="icon-github"></i>
				    		</span>
				    	</a>
				    </div>
		    	</li>
		    </span>
		    <span class="hovercatch">
		    	<li class="orange button">
		    		<div>
			    		<a href="http://www.twitter.com/benthehenten">
				    		<span class = "buttoninner">
				    			<i class="icon-twitter"></i>
				    		</span>
				    	</a>
				    </div>
		    	</li>
		    </span>
		    <span class="hovercatch">
		    	<li class = "blue button"> 
		    		<div>
			    		<a href="#projects">
				    		<span class = "buttoninner">
				    			<i class="icon-archive"></i> 
				    		</span>
				    	</a>
			    	</div>
		    	</li>
		    </span>
		</ul>
	</div>
</nav>
<section class = "homepage">	
	<div class="main">	
	    <h1 class="nametext">Ben Edelstein</h1> 
		<ul class="buttons">
			<span class="hovercatch">
				<p class="description purple"> Email </p>
		    	<li class="purple button">
			    	<div>
			    		<a href="mailto:ben.edelstein93@gmail.com">	
			    		<span class = "buttoninner">
			    			<i class="icon-mail-alt"></i>
			    		</span>
			    	</a>
			    </div>	
		    	</li>
		    </span>
		    <span class="hovercatch">
		    	<p class="description green"> Facebook </p>
		    	<li class="green button">
		    		<div>
				    	<a href="http://www.facebook.com/ben.edelstein">	
				    		<span class = "buttoninner">
				    			<i class="icon-facebook"></i>
				    		</span>
				    	</a>
				    </div>
		    	</li>
		    </span>
		    <span class="hovercatch">
		    	<p class="description red"> Github </p>
		    	<li class="red button">
		    		<div>
			    		<a href="http://www.github.com/benthehenten">
				    		<span class = "buttoninner">
				    			<i class="icon-github"></i>
				    		</span>
				    	</a>
				    </div>
		    	</li>
		    </span>
		    <span class="hovercatch">
		    	<p class="description orange"> Twitter </p>
		    	<li class="orange button">
		    		<div>
			    		<a href="http://www.twitter.com/benthehenten">
				    		<span class = "buttoninner">
				    			<i class="icon-twitter"></i>
				    		</span>
				    	</a>
				    </div>
		    	</li>
		    </span>
		    <span class="hovercatch">
		    	<p class="description blue"> Projects </p>
		    	<li class = "blue button"> 
		    		<div>
			    		<a href="#projects">
				    		<span class = "buttoninner">
				    			<i class="icon-archive"></i> 
				    		</span>
				    	</a>
			    	</div>
		    	</li>
		    </span>
	    </ul>
	 </div>
	<div id="arrow-holder">
		<a id="rotator" href="#projects">
			<i id="arrow">&#10140;</i>
		</a>
	</div>
</section>
<section class = "projectspage" id="projects">
	 <div class="projectcontent">
	 	<div id="carousel">
		 	<div class = "project">
		 		<div class = "pictures">
		 			<a href="http://fbphotoshare.com"><img src="/static/img/fbphotoshare.png" class ="projectimage"></a>
		 		</div>
		 		<hr />
		 		<p class = "bodytext"> <a href = "http://whotweeted.it"><i>FB Photo Share</i></a> was a project I worked on in May-June 2014 that aimed to allow the easy sharing of Facebook photos outside of Facebook's ecosystem. A user could log in with Facebook, choose pictures of them and their friends, and publish an album sharable with its unique URL.  I built FBPhotoshare using AngularJS, mongodb, flask, and python. Unfortunately, Facebook will soon be deprecating the API routes that made FBPhotoshare possible, so I discontinued development while the site was in beta.
	 
		 		</p>	
		 	</div>
		 	<div class = "project">
		 		<div class = "pictures">
		 			<a href="#"><img src="/static/img/neuron.jpg" class ="projectimage"></a>
		 		</div>
		 		<hr />
		 		<p class = "bodytext"> <a href = "http://whotweeted.it"><i>Neurotome</i></a> is a project that I worked on in my summer, 2014 internship at the NIH.  Neurotome is a crowdsourcing platform for the analysis of electron-microscopy images of the brain. By playing a drawing game, users provide training data for a neural network which will one day be able to generate a neruon-scale map of the 100B+ neurons in the brain. I have continued working with the NIH team on this project and we hope to launch publicly in a few months.
	 
		 		</p>	
		 	</div>
		 	<div class = "project">
		 		<div class = "pictures">
		 			<a href="http://whotweeted.it"><img src="/static/img/whotweetedit.png" class ="projectimage"></a>
		 		</div>
		 		<hr />
		 		<p class = "bodytext"> <a href = "http://whotweeted.it"><i>Who Tweeted It</i></a> is a game I made with <a href="http://danrs.ch">Dan Schlosser</a> and <a href="http://evantarrh.com">Evan Tarrh</a> at Columbia's devfest hackathon in February, 2014. We used the Twitter API to get tweets from popular celebrities and make a simple quiz game. It's built on a python/flask backend with foundation in front to make it look nice. We won a prize from Google at the hackathon; but the real reward was having over 16,000 page views from 44 states and 39 countries, in the first 2 weeks after launch!
	 
		 		</p>	
		 	</div>
		 	<div class = "project">
		 		<div class="pictures">
		 			<a href="http://ben-edelstein.com"><img src="/static/img/personalsite.png" class ="projectimage"></a>
		 		</div>
		 		<hr />
		 		<p class = "bodytext"> This is my personal website that I built in March, 2014. Its (limited) backend is based on python and flask, while in front it's standard html/css/js. For now, the only page other than the spalsh screen is this projects page; however, I will soon integrate a blog and other content. 
	 
		 		</p>	
		 	</div>
		 	<div class = "project">
		 		<div class="pictures">
		 			<a href="https://www.youtube.com/watch?v=X6Sef_D2_PM"><img src="/static/img/tuner.jpg" class ="projectimage"></a>
		 		</div>
		 		<hr />
		 		<p class = "bodytext"> This is a project I worked on with my friend <a href="http://arbesfeld.com"> Matt Arbesfeld</a> back in high school. It can tune most guitars in 30 seconds!
	 
		 		</p>	
		 	</div>
		 </div>
	 </div>
</section>
{% endblock %}


